/** filename: myChess.scss
 *  description: styles for Chess page in mySite
 *  author: Sarah Rosanna Busch
 *  date: 28 Sept 2021
 */

 @import '../../styles.scss';

 .container {
    width: 95%;
    max-width: 70vh; 
    margin: auto
 }

 .pgn {
    min-height: 3em;
 }