/** filename: styles.scss
 *  description: main stylesheet for sarahRosannaBusch.ca
 *  author: Sarah Rosanna Busch
 *  date: 17 April 2020
 */

/* **************************** vars ************************* */

$grey0: #010101;
$grey1: #121212;
$grey2: #232323;
$grey3: #343434;
$grey4: #454545;
$grey5: #565656;
$grey6: #676767;
$grey7: #787878;
$grey8: #898989;
$grey9: #9A9A9A;
$grey10: #ABABAB;
$grey11: #BCBCBC;
$grey12: #CDCDCD;
$grey13: #DEDEDE;
$grey14: #EFEFEF;

$red: #c8250e;
$orange: #df7233;
$yellow: #d6d950;
$green: #5fa638;
$blue: #7cc9ff;
$purple: #b684ed;

$accentLight: lavender;
$accentDark: blueviolet;

$menuWidth: min(100vw, 800px);
$pageWidth: 100vw;

/* **************************** fundamentals ************************* */

* {
    box-sizing: border-box; /* padding and border are included in total width/height of all elements */
    margin: 0px;
}

body {    
    background: $grey3;
    color: $accentLight;
    font-size: 12pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

#mainBody {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

#menu {    
    flex: 0 0 $menuWidth;
    background: $grey1;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

#menu.closed {
    flex: 0 0 0px;
}

.page {
    flex: 0 0 $pageWidth;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: $grey3;
    background-image: url("img/background.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: center;
    background-size: cover;
}

#sidePanel {    
    z-index: 99;
}

#shopPanel {
    position: absolute;
    width: $pageWidth;
    // z-index: -1; this broke the buttons
}

#menuBtn {
    position: absolute;
    top: 15px;
    left: 10px;
    background: none;
    color: lavender;
    z-index: 100;
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 37px;
    background: rgba(0,0,0,0.15);
    border-width: 1px;
}

@media screen and (min-width: 800px) {  

    #menu {
        flex: 0 0 350px;
    }

    #sidePanel, #shopPanel { //container
        display: inline-block;
        flex: 1;
        height: 100vh;
        margin: 0;
        margin-left: 2vh;
        box-shadow: 2px 5px 20px 5px lavender;
    }

    #shopPanel {
        width: calc(98vw - 350px);
        left: 350px;
    }

    header {
        padding-top: 5px;
    }

    .notForPhone { //skl for example
        display: block !important;
    }

    .frame { //picture frame
        display: inline-block;
        max-width: 650px;
        margin-left: 2em;
    }
}

/* **************************** imports ************************* */

@import 'styles/signature.scss';
@import 'styles/scrollbar.scss';
@import 'styles/menu.scss';
@import 'styles/pages.scss';
@import 'pages/dndBackstories/dndBackstories.scss';