/** filename: styles.scss
 *  description: main stylesheet for sarahRosannaBusch.ca
 *  author: Sarah Rosanna Busch
 *  date: 27 May 2025
 */
/****************************** Footer Styles *********************************/
svg#flower {
  width: 103px; /* 103px */
  height: auto; /* 69px */
  position: absolute;
  padding: 3px;
}

g#orange {
  visibility: hidden;
}

g#purple {
  visibility: hidden;
}

g#green {
  visibility: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #343434;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ****************************** Menu ***************************** */
#menu header {
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 10px;
  text-align: center;
  font-family: monospace;
  background: #232323;
  flex: 0 0 200px;
}
#menu header img {
  width: 200px;
}
#menu main {
  vertical-align: top;
  text-align: center;
  width: 100%;
  flex: 0.99;
}
#menu h2 {
  font-size: 16pt;
  background-image: linear-gradient(to right, blueviolet, lavender);
  color: black;
  font-family: monospace;
  text-align: center;
  padding: 0.2em;
}
#menu section {
  background: #232323;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-bottom: 10px;
}
#menu p {
  padding: 0.75em;
  max-width: 12cm;
  margin: auto;
  text-align: left;
}
#menu button {
  border: none;
  border-radius: 5px;
  color: #DEDEDE;
  background-image: linear-gradient(#454545, black);
  font-weight: bold;
  margin-top: 5px;
  width: 100%;
  padding: 0.5em;
  outline: none;
  cursor: pointer;
}
#menu button:hover {
  box-shadow: 2px 1px 4px 2px lavender;
  color: lavender;
}
#menu button:active {
  background-image: linear-gradient(black, #454545);
}
#menu button.selected {
  background-image: linear-gradient(#343434, #121212);
  box-shadow: 2px 1px 2px 2px gold, -2px -1px 1px 1px lavender;
  color: gold;
}
#menu footer {
  width: 100%;
  flex: 0 0 100px;
  position: relative;
  bottom: 0;
  user-select: none;
  background-image: linear-gradient(blueviolet, rgba(230, 230, 250, 0.7));
}
#menu footer #patrons {
  background: rgb(207, 52, 59);
  text-align: center;
  padding: 0.1em;
}
#menu footer #patrons a:link {
  color: #232323;
  text-decoration: underline;
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
}
#menu footer #patrons a:visited {
  color: #232323;
}
#menu footer #signature {
  height: 80px;
  position: absolute;
  top: 7px;
}
#menu footer #links {
  padding-top: 35px;
  text-align: center;
}
#menu footer a:link {
  text-decoration: none;
}
#menu .socialLogo {
  width: 30px;
  cursor: pointer;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

/* ***************************** Pages ****************************** */
.page {
  font-size: 13pt;
}
.page header {
  display: block;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  background-image: linear-gradient(#121212, #454545);
  margin-bottom: 0.5em;
  text-align: center;
}
.page header a {
  font-size: 14pt;
  font-weight: normal;
  color: white;
  vertical-align: middle;
  padding-top: 0.25em;
}
.page header a:link {
  text-decoration: none;
}
.page header a:visited {
  text-decoration: none;
}
.page header .smAvatar {
  width: 30px;
  vertical-align: bottom;
}
.page main {
  flex: 1;
  overflow-y: hidden;
}
.page h1 {
  background-image: linear-gradient(to right, blueviolet, lavender);
  color: black;
  font-family: monospace;
  width: 100%;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  font-size: 22pt;
}
.page h2 {
  text-align: left;
  padding: 5px;
  padding-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: monospace;
  background-image: linear-gradient(to right, #343434, #232323);
  color: gold;
}
.page h3 {
  text-align: center;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-family: cursive;
  color: blueviolet;
}
.page h4 {
  text-align: left;
  color: blueviolet;
  padding: 1em;
  padding-bottom: 0;
  font-size: large;
}
.page h5 {
  padding-left: 2em;
  padding-bottom: 0.5em;
  color: lavender;
}
.page .frame {
  margin: 1em;
  background: #323232;
  border: 5px inset silver;
  box-shadow: 2px 5px 20px 5px black;
  padding: 2px;
  text-align: center;
}
.page .frame img {
  max-width: 100%;
  max-height: 85vh;
  vertical-align: middle;
}
.page section {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 1em;
  background: #232323;
  background-image: linear-gradient(#121212, #232323);
  margin-bottom: 5px;
  text-align: center;
}
.page p {
  text-align: left;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: lavender;
  max-width: 20cm;
  margin: auto;
}
.page a {
  font-size: large;
  font-weight: bold;
  color: lavender;
}
.page a:visited {
  color: lavender;
}
.page .btnContainer {
  text-align: center;
  padding-bottom: 1em;
}
.page button {
  padding: 5px;
  border-radius: 5px;
  background: #454545;
  color: lavender;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.page button:hover {
  background: blueviolet;
}
.page button.tab {
  border-bottom: 1px;
  border-radius: 5px 5px 0 0;
}
.page button.active {
  background: #212121;
  color: #d6d950;
}
.page iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.page .scrollContainer {
  height: 100%;
  overflow-y: auto;
}
.page ul {
  display: inline-block;
  text-align: left;
  padding-right: 1em;
}
.page ul h3 {
  text-align: left;
  color: blueviolet;
  font-family: monospace;
}
.page strong {
  font-size: large;
}
.page .red {
  color: #c8250e !important;
}
.page .orange {
  color: #df7233 !important;
}
.page .yellow {
  color: #d6d950 !important;
}
.page .green {
  color: #5fa638 !important;
}
.page .blue {
  color: #7cc9ff !important;
}
.page .purple {
  color: #b684ed !important;
}
.page #resume section {
  text-align: left;
}
.page #resume article {
  max-width: 20cm;
  margin: auto;
}
.page #resume .spacedList li {
  padding-bottom: 0.5rem;
}
.page .portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.page .project {
  background: #EFEFEF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin-bottom: 20px;
}
.page .project p {
  color: black !important;
}
.page .project a {
  color: #21426D;
}
.page video {
  width: 100%;
  max-width: 100vw;
  border-radius: 10px;
}
.page .description {
  margin-top: 10px;
}
.page .review img {
  border-radius: 10px;
  margin-top: 10px;
}
.page footer {
  text-align: center;
  padding: 1em;
}

#demo {
  height: 100%;
  background-image: url("./pages/dndBackstories/background.svg") !important;
  background-size: cover !important;
  background-position: center !important;
}
#demo a {
  color: #7cc9ff !important;
}
#demo p {
  background-color: #232323;
}

#poster {
  position: relative;
  padding: 1em;
}
#poster a {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-55%, -50%);
  transform: translate(-55%, -50%);
}
#poster button {
  font-size: larger;
  font-weight: bolder;
  font-family: cursive;
  text-shadow: 1px 1px 1px red, -1px -1px 3px red;
  color: rgba(255, 0, 0, 0.75);
  text-shadow: 2px 2px black;
  background: rgba(25, 25, 25, 0.5);
  border-radius: 4em;
  padding-top: 0.5em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
  border-width: 5px 7px 7px 5px;
  transform: rotate(-5deg);
}
#poster button:hover {
  background: rgba(228, 228, 228, 0.5);
}
#poster button:active {
  border-width: 7px 5px 5px 7px;
  background-image: linear-gradient(to right, blueviolet, lavender);
}

#aGuildLogo {
  max-width: 95%;
  max-height: 55vh;
}

/* **************************** fundamentals ************************* */
* {
  box-sizing: border-box; /* padding and border are included in total width/height of all elements */
  margin: 0px;
}

body {
  background: #343434;
  color: lavender;
  font-size: 12pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#mainBody {
  display: flex;
  height: 100dvh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

#menu {
  flex: 0 0 min(100vw, 800px);
  background: #121212;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

#menu.closed {
  flex: 0 0 0px;
}

.page {
  flex: 0 0 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: #343434;
  background-image: url("img/background.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: center;
  background-size: cover;
}

#sidePanel {
  z-index: 99;
}

#shopPanel {
  position: absolute;
  width: 100vw;
}

#menuBtn {
  position: absolute;
  top: 15px;
  left: 10px;
  background: none;
  color: lavender;
  z-index: 100;
  font-size: 30px;
  width: 40px;
  height: 40px;
  line-height: 37px;
  background: rgba(0, 0, 0, 0.15);
  border-width: 1px;
}

@media screen and (min-width: 800px) {
  #menu {
    flex: 0 0 350px;
  }
  #sidePanel, #shopPanel {
    display: inline-block;
    flex: 1;
    height: 100%;
    margin: 0;
    margin-left: 2vh;
    box-shadow: 2px 5px 20px 5px lavender;
  }
  #shopPanel {
    width: calc(98vw - 350px);
    left: 350px;
  }
  header {
    padding-top: 5px;
  }
  .notForPhone {
    display: block !important;
  }
  .frame {
    display: inline-block;
    max-width: 650px;
    margin-left: 2em;
  }
}

/*# sourceMappingURL=styles.css.map */
